@{
    ViewData["Title"] = "UsuarioHome";
}


<ul class="nav navbar-nav navbar-right" style="float:right;">
    <li>
        <a asp-action="Logout">Logout</a>
    </li>
</ul>
<br />
<br />
<br />
<div class="text-center">
    <img src="~/imgs/controle-de-estoque1.png" alt="Smiley face" height="100" width="100">
    <h1 class="display-4">SEJA BEM VINDO!</h1>
    <div style="padding-top: 10px;">
        <button class="btn btn-primary" onclick="location.href='Cadastro'">Fazer um cadastro  <i class="fa fa-book"></i></button>
        <button class="btn btn-secondary" onclick="location.href='Consulta'">Fazer uma consulta  <i class="fa fa-search"></i></button>
    </div>
    <br />
    <br />
    @*<img src="~/imgs/img2.jpg" alt="Smiley face" height="600" width="1000">*@
</div>
