
@{
    ViewData["Title"] = "Consulta";
}

<div id="" class="container" align="center">
    <h2>Cadastro de Produto</h2>
    <br />
    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Codigo Produto<span style="color:red;"><b>*</b></span></label>
            <input type="number" class="form-control" id="codProd" placeholder="Codigo Produto" style="width: 300px;">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Nome Produto<span style="color:red;"><b>*</b></span></label>
            <input type="text" class="form-control" id="nomeProd" placeholder="Nome Produto" style="width: 300px;">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Categoria<span style="color:red;"><b>*</b></span></label>
            <select class="form-control" id="categoriaProd" style="width: 300px;">
                <option value="disabilitado" selected disabled hidden>Selecione uma categoria</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Quantidade<span style="color:red;"><b>*</b></span></label>
            <input type="number" class="form-control col-xs-3" id="qtdProd" placeholder="Quantidade" style="width: 300px;">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Preço Unitário<span style="color:red;"><b>*</b></span></label>
            <input type="text" class="form-control col-xs-3" id="precoProd" placeholder="R$ 0,00" style="width: 300px;">
        </div>
    </form>
    <button class="btn btn-success" onclick="cadastraEstoque()">Cadastrar <i class="fa fa-check"></i></button>
    <button class="btn btn-secondary" onclick="history.go(-1)">Voltar <i class="fa fa-arrow-left"></i></button>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://rawgit.com/RobinHerbots/Inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
<script>

    $("#precoProd").inputmask('decimal', {
        radixPoint: ",",
        groupSeparator: ".",
        autoGroup: false,
        prefix: 'R$ ',
        digits: 2,
        digitsOptional: false,
        placeholder: '0',
    });

    function cadastraEstoque() {

        codProd = $("#codProd").val();
        nomeProd = $("#nomeProd").val();
        categoriaProd = $("#categoriaProd").val();
        qtdProd = $("#qtdProd").val();
        precoProd = $("#precoProd").val();

        if (codProd == "" || nomeProd == "" || categoriaProd == null || qtdProd == "" || precoProd == "") {
            swal({
                title: "Alerta!",
                text: "Preencha os campos obrigatórios!",
                icon: "error",
                button: "ok",
            });
        } else {
            swal({
                title: "Bom trabalho!",
                text: "Cadastro realizado com sucesso!",
                icon: "success",
                button: "ok",
            });
        }
    }

</script>



