@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">SEJA BEM VINDO!</h1>
    <div style="padding-top: 10px;">
        <button class="btn btn-primary" onclick="location.href='Home/Cadastro'">Fazer um cadastro  <i class="fa fa-book"></i></button>
        <button class="btn btn-secondary" onclick="location.href='Home/Consulta'">Fazer uma consulta  <i class="fa fa-search"></i></button>
    </div>
</div>
